In [24]:
import pandas as pd 
#%pip install pandas
df = pd.read_csv("spotify_millsongdata.csv")
df.shape

(57650, 4)

In [25]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [26]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [27]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [28]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)
df

,artist,song,text
0,Johnny Cash,Hardin Wouldn't Run,I know a man whose plow handle hand is quicker...
1,Morrissey,Tony The Pony,Still drinking on the corner \r\nJust don't s...
2,Foo Fighters,Another Round,When she goes storming out \r\nI run for cove...
3,Bob Marley,Duppy Conqueror,"Yes, me friend, me friend \r\nDem set me free..."
4,Green Day,Do Da Da,Every time I'm falling down \r\nYou take the ...
...,...,...,...
4995,Rascal Flatts,Play,You're a single mom with three kids and just a...
4996,Little Walter,Just Your Fool,"I'm just your fool, can't help myself \r\nI l..."
4997,Cliff Richard,Have Yourself A Merry Little Christmas,"Have yourself a merry little Christmas, \r\nL..."
4998,Inna,World Of Love,"Only got my life, one time \r\nOne ticket one..."
4999,Status Quo,Do It Again,If you ever found anything better than working...

In [29]:
df['text'][0]

"I know a man whose plow handle hand is quicker than a light  \r\nWes Hardin is his name they say he travels in the night  \r\nFor he might have to kill or walk around a fight  \r\n  \r\nAnd if you ever saw Wes Hardin draw you know he can skin his gun  \r\nHe won't say how many tried and died  \r\nUp against the top hand up against the wrong man cause Hardin' wouldn't run  \r\n  \r\nHe rode in like a Texas wind took the eastbound train  \r\nGoin' goin' with Jane Bowen till the law men caught up  \r\nSo long Janie chin up I'll be back again  \r\n  \r\nOff he went to Huntsville Prison so long Janie he cried  \r\nFifteen years she waited till her heart broke and she died  \r\nAnd she left that bad land to wait up in the sky  \r\n  \r\nFree at last the payin' past for all the wrong he did  \r\nFirst free air they let him breathe since he was a kid  \r\nSo let him come and let him go and let him deal and bid  \r\n  \r\nNear the border in El Paso Lawyer reads the sign  \r\nYou won't find him there for business every day at nine  \r\nFor business is real bad one client's all he's had in quite a long long time  \r\n  \r\nThen sheriff Selman's boy broke in to Wes's woman's place  \r\nUp she jumped and pistol whipped him kicked him in the face  \r\nAnd John Selman demands revenge for this disgrace  \r\n  \r\nYou could see every night by candlelight in Hardin's favorite bar  \r\nShe'd be hanging on his arm and very late they'd leave there  \r\nHeaded for the Goose Hair glad it wasn't far  \r\n  \r\nRight through the swinging doors John Selman came with a blazin' gun  \r\nWes Hardin chug-a-luggin' red eye got him in the back of the head  \r\nJohn Wesley Hardin fell dead cos Hardin wouldn't run\r\n\r\n"

In [30]:
#df = df.sample(10000)

In [31]:
df.shape

(5000, 3)

In [32]:
#to remove (cleaning) \r\n Textcleaning/text preprocessing
#Regular expression
df['text'] =df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [33]:
df.tail(5)

,artist,song,text
4995,Rascal Flatts,Play,you're a single mom with three kids and just a...
4996,Little Walter,Just Your Fool,"i'm just your fool, can't help myself \r i lo..."
4997,Cliff Richard,Have Yourself A Merry Little Christmas,"have yourself a merry little christmas, \r le..."
4998,Inna,World Of Love,"only got my life, one time \r one ticket one ..."
4999,Status Quo,Do It Again,if you ever found anything better than working...

In [34]:
#Tokenization part
import nltk
from nltk.stem.porter import PorterStemmer
#%pip install nltk

In [35]:
stemmer = PorterStemmer()

In [36]:
#This is how we convert all kind of same word into one single word.
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [37]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [38]:
df['text'].apply(lambda x: token(x))

0       i know a man whose plow handl hand is quicker ...
1       still drink on the corner just do n't say i di...
2       when she goe storm out i run for cover roll li...
3       ye , me friend , me friend dem set me free aga...
4       everi time i 'm fall down you take the repercu...
                              ...
4995    you 're a singl mom with three kid and just as...
4996    i 'm just your fool , ca n't help myself i lov...
4997    have yourself a merri littl christma , let you...
4998    onli got my life , one time one ticket one ste...
4999    if you ever found anyth better than work you '...
Name: text, Length: 5000, dtype: object

In [39]:
#Vectorization
#using TF-IDF vectorizer (Term Frequency-Inverse Document Frequency)
#Cosine Similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
#%pip install scikit-learn

In [41]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [42]:
matrix = tfid.fit_transform(df['text'])

In [43]:
similer = cosine_similarity(matrix)
similer[0]

array([1.        , 0.03499401, 0.011477  , ..., 0.01399965, 0.01590906,
       0.03252771])

In [44]:
df[df['song']=='Butterfly'].index[0]

2244

In [47]:
#Recommender Function
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [48]:
recommender("Butterfly")

['Fly By Night',
 'Butterfly Kisses',
 'Fly To Your Heart',
 'Let Me Fly',
 "I Won't Be Home No More",
 'Ready To Fly',
 "I Won't Change The Way That I Feel",
 'Krafty',
 "You Won't See Me",
 'If I Could Only Fly',
 'Last Time The First Time',
 'More I See You',
 'This Is The Time',
 'Bird Of Pray',
 "I'll Fly Away",
 'Poor Butterfly',
 'Angel',
 'Make It Right',
 'Starting To Fly',
 'Fire In The Sky']

In [49]:
#%pip install pickle

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [50]:
import pickle

In [53]:
pickle.dump(similer, open("similarity.pkl", "wb"))

In [54]:
pickle.dump(df, open("df.pkl", "wb"))